<div style="text-align: center;">
    <h1>DS Product Finder</h1>
    <p>Begin searching by enter a store url and search criteria below!</p>

    <div class="shadow p-5 mb-5 bg-white rounded">


        <form #registerForm="ngForm" (ngSubmit)="scanStore()" autocomplete="off">

            <div class="row">
                <mat-form-field style="width: 50%;">
                    <mat-label>Store Url</mat-label>
                    <input matInput name="storeUrlText" [(ngModel)]="model.storeUrlText" >
                </mat-form-field>
            </div>
            <div class="row" style="text-align: center;" >
                <div class="col-3 border-right " >
                    <p>Quantity Sold</p>
                    <mat-form-field style="width: 82%;">
                        <mat-label>Min</mat-label>
                        <input matInput value="0" name="minQuantitySold" [(ngModel)]="model.minQuantitySold">
                    </mat-form-field>
                    <mat-form-field style="width: 82%;">
                        <mat-label>Max</mat-label>
                        <input matInput name="maxQuantitySold" [(ngModel)]="model.maxQuantitySold">
                    </mat-form-field>
                </div>
                <div class="col-3 border-right">
                    <p>Price</p>
                    <mat-form-field style="width: 82%;">
                        <mat-label>Min</mat-label>
                        <input matInput name="minPrice" [(ngModel)]="model.minPrice">
                    </mat-form-field>
                    <mat-form-field style="width: 82%;">
                        <mat-label>Max</mat-label>
                        <input matInput name="maxPrice" [(ngModel)]="model.maxPrice">
                    </mat-form-field>
                </div>
                <div class="col-3 border-right">
                <p>Time Frame</p>
                <mat-form-field style="width: 82%;">
                    <mat-select value="30" name="timeFrame" [(ngModel)]="model.timeFrame">
                    <mat-option value="30">Last 30 Days</mat-option>
                    <mat-option value="60">Last 2 months</mat-option>
                    <mat-option value="90">Last 3 months</mat-option>
                    <mat-option value="120">Last 4 months</mat-option>
                    <mat-option value="150">Last 5 months</mat-option>
                    <mat-option value="180">Last 6 months</mat-option>
                    </mat-select>
                </mat-form-field>
                </div>
                <div class="col-3">
                    <button mat-raised-button style="width: 100%;">Submit</button>
                </div>
            </div>   
        </form>

          
    </div>

</div>


<div *ngIf="isBusy()" style="position: relative" class="p-5 mb-5">
    <ngx-spinner>
        <h3>Loading...</h3>
    </ngx-spinner>
</div>
<app-data-table *ngIf="!isBusy()" [inputItems]="items"></app-data-table>
